.mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    height: 11vh;
    /* background-color: white; */
    width: 100%;
}
.navigators a {
    font-size: 23px;
    margin: 10px;
}

.name {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 29px;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}

.hambuger {
   display: none;
}

@media (max-width: 768px) {
     .navigators {
        display: none;
     }
     .hambuger {
        display: block;
        width: fit-content;
     }
     .hambuger img {
        width: 60px;
     }
     .name {
        font-size: 20px;
     }
     .mat-toolbar {
        width: 100vw;
        /* padding: 0 15%; */
     }
  }