<div id="about">
  <!-- <img src="/assets/section.svg" id="background" alt="text"> -->
  <p>Get To Know More</p>
  <h2>About Me</h2>
  <div class="main-content">
    <img src="assets/IMG_00132.JPG" alt="My picture" />
    <div class="sub-content">
      <div class="info-container">
        @for (item of items; track item.id) {
        <app-about-container
          [icon]="item.icon"
          [title]="item.title"
          [content1]="item.content1"
          [content2]="item.content2"
        ></app-about-container>
        }
        <br />
      </div>
      <p>
        Hey there I'am Vishal a self thought Frontend Engineer who is passionate<br>
        about the world of frontend engineering.
      </p>
    </div>
  </div>
</div>
