#about {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
    /* background-image: url(/assets/section.svg); */
    color: white;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding:2%;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    /* padding: 20px; */
    max-width: 100%;
    gap: 2rem;
}

.main-content img {
    width: 20vw;
    border-radius: 10%;
    /* box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7); */
    box-shadow:
    0 0 0px #ffff00,   /* yellow */
    0 0 2px #00ff00,   /* green */
    0 0 8px #00ffff,   /* cyan */
    0 0 6px #0000ff,   /* blue */
    0 0 24px #8b00ff;   /* violet */
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}
/* .main-content img:hover {
    transform: scale(1.02);
    box-shadow:
    0 0 0px #ffff00,   
    0 0 2px #00ff00,   
    0 0 68px #00ffff,   
    0 0 66px #0000ff,   
    0 0 64px #8b00ff;
} */

.info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: max-content;
}

.sub-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#background {
    position: absolute;
    width: 100%;
    z-index: -1;
}

@media (max-width: 768px) {
    #myImage {
        width: 35vw;
        position: relative;
        bottom: 20px;
    }
    .main-content {
        display: flex;
        flex-direction: column;
    }
    #sub-title {
        margin: 0;
        margin-top: 15px;
    }
}