<div class="projects-block-container">
    <!-- <img src="/assets/section.svg" alt="text"> -->
    <p>Browse My Recent</p>
    <h1>Projects</h1>
    <div class="projects-container">
         <div id="project">
             <img src="assets/tindog.png" alt="Project Image">
             <h3>Tin Dog</h3>
             <div>
             <button class="btn btn-color-1" onclick="window.open('https://github.com/vishalManowharan/Tin-dog')">
              Github
            </button>
            <button class="btn btn-color-1" onclick="window.open('https://vishalmanowharan.github.io/Tin-dog/')">
              Live Demo
            </button>
          </div>
         </div>
         <div id="project">
          <img src="assets/image.png" alt="Project Image">
          <h3>Drum Kit</h3>
          <div>
          <button class="btn btn-color-1" onclick="window.open('https://github.com/vishalManowharan/drum-kit')">
           Github
         </button>
         <button class="btn btn-color-1" onclick="window.open('https://vishalmanowharan.github.io/drum-kit/')">
           Live Demo
         </button>
       </div>
      </div>
      <div id="project">
        <img src="assets/password.png" alt="Project Image">
        <h3>Password Generator</h3>
        <div>
        <button class="btn btn-color-1" onclick="window.open('https://github.com/vishalManowharan/Password_generator')">
         Github
       </button>
       <button class="btn btn-color-1" onclick="window.open('https://vishalmanowharan.github.io/Password_generator/')">
         Live Demo
       </button>
     </div>
    </div>
    </div>
  </div>
