<div class="intro-container">
<div class="hover-crown"><img src="assets/2.png" #crownImg  class="crownImg" alt="crown image"></div>
<img src="assets/my-image.jpeg" #profileImg alt="My Image">
<div class="introduction">
    <p>Hello I'm</p>
    <h1 class="title teko">Vishal</h1>
    <div class="dynamic-skills"><span id="textP">I know </span><span id="blinker">|</span></div>
    <div class="btn-container">
        <button
          class="btn btn-color-2"
          onclick="window.open('./assets/Vishal_Resume.pdf')"
        >
          Download CV
        </button>
        <button class="btn btn-color-1" onclick="location.href='./#contact'">
          Contact Info
        </button>
      </div>
      <!-- <div id="socials-container">
        <img
          src="assets/linkedin.png"
          alt="My LinkedIn profile"
          class="icon"
          onclick="location.href='https://linkedin.com/'"
        />
        <img
          src="assets/github.png"
          alt="My Github profile"
          class="icon"
          onclick="location.href='https://github.com/'"
        />
      </div> -->
</div>
</div>
