#container {
    width: 100vw;
    width: fit-content;
    margin: 0;
    padding: 0;
    /* padding: 20px 10px; */
}
header, main {
    width: 100vw;
}



@media (max-width: 768px) {
    .app-header {
        position: relative;
        overflow-x: hidden
    }
}