<div id="container">
  <header>
    <app-header></app-header>
  </header>
  <main>
    <section id="intro"> 
      <app-intro></app-intro>
    </section>
    <section id="about">
      <app-about></app-about>
    </section>
    <section id="experience">
      <app-experience></app-experience>
    </section>
    <section id="skills">
      <app-skills></app-skills>
    </section>
    <section id="projects">
      <app-projects></app-projects>
    </section>
    <section id="contact">
      <app-contact></app-contact>
    </section>
  </main>
</div>
